* {
    font-family: 'Gotham', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #000000, #333333); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    overflow-x: hidden; 
}

.sidebar {
    width: 280px;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
}

.sidebar-nav {
    background: #111111;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 5px;
}

.sidebar-nav .logo {
    width: 120px;
}

.sidebar-nav .logo img {
    width: 100%;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav ul li {
    padding: 10px 20px;
}

.sidebar-nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}

.sidebar-nav ul li a img {
    margin-right: 10px;
    width: 20px; 
}

.library::after {
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
}

.playlist {
    background: #2f2e2e;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.playlist h4 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
}

.playlist p {
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.playlist button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
}

.privacidade ul {
    list-style: none;
    margin-top: 20px;
}

.privacidade ul li {
    display: inline-block;
    padding-right: 10px;
}

.privacidade ul li a {
    text-decoration: none;
    color: #5c5b5b;
    font-size: 12px; 
    font-weight: 600;
}

.flag-icon {
    display: inline-block;
    vertical-align: middle;
}

.flag-icon img {
    width: 20px; 
    vertical-align: middle;
}

.main-content-player {
    margin-left: 320px;
    margin-bottom: 100px;
    width: calc(100% - 320px);
}

.top-bar-player {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 14px;
    margin-right: 10px;
    padding: 14px;
}

.top-bar-player .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
}

.top-bar-player .navbar {
    display: flex;
    align-items: center;
}

.top-bar-player .navbar ul {
    list-style-type: none;
}

.top-bar-player .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
}

.top-bar-player .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.top-bar-player .navbar ul li a:hover,
.top-bar-player .navbar ul li a:active,
.top-bar-player .navbar ul li a:focus {
    color: white;
}

.top-bar-player .navbar ul li.divider {
    color: white;
    font-size: 26px;
    margin: 0px 20px;
    width: 99.1%;
}

.top-bar-player .navbar button {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    width: 100px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.container {
    width: calc(100% - 300px);
    margin-left: 320px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
}

header {
    width: 100%;
}

header h2 {
    margin-bottom: 60px; 
}

.img {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; 
    margin-top: 40px; 
}

.artist, .album {
    text-align: center; 
    padding: 0 5px; 
}

.artist img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    margin: 0 auto 15px; 
}

.album img {
    width: 120px; 
    height: 120px;
    border-radius: 5px; 
    object-fit: cover; 
    display: block;
    margin: 0 auto 5px; 
}

.artist h3, .album h3 {
    margin-top: 10px; 
    margin-bottom: 5px; 
    font-size: 14px; 
}

.artist p, .album p {
    color: rgba(223, 222, 221, 0.686);
    font-size: 12px; 
    margin-bottom: 10px; 
}

.album p {
    margin-top: 5px; 
}

.artist .green-play {
    width: 40px; 
    height: 40px; 
    opacity: 0;
    margin-left: 90px; 
    position: relative;
    top: -40px; 
    transition: top ease 0.3s, opacity 0.3s;
}

.artist .green-play img {
    width: 40px; 
    height: 40px;  
}

.album .green-play {
    width: 40px;  
    height: 40px;  
    opacity: 0;
    margin-left: 90px; 
    position: relative;
    top: -40px; 
    transition: top ease 0.3s, opacity 0.3s;
}

.album .green-play img {
    width: 30px;  
    height: 30px;  
}

.artist:hover .green-play {
    opacity: 1;
    top: -80px; 
}

.album:hover .green-play  {
    opacity: 1;
    top: -80px; 
}