* {
    font-family: 'Gotham', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #303030, #222222, #0f0f0f, #000000);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: #1b1b1b;
    border-radius: 8px;
    text-align: center;
    width: 750px;
    height: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto; 
    margin-top: 35px;
}

.main-logo {
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    margin-top: -50px;
}

.main-logo2 {
    margin-bottom: 30px;
}

.meio {
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgb(78, 77, 77);
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.meio p {
    color: white;
}

.meio:hover {
    border: solid 1px white;
}

#frlogin p {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

.meio p {
    margin: 0;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(39, 38, 38);
    width: 500px;
}

input {
    width: 320px;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(64, 63, 63);
    background-color: #1b1b1b;
    border-radius: 3px;
    color: white;
    font-size: 15px;
}

input:hover {
    border: solid 1px white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.form-login {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

label {
    margin-bottom: 10px;
    display: block;
}

input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: .4s;
    position: relative;
    margin-right: 280px;
    background-color: rgb(90, 89, 89);
}

input:checked[type="checkbox"] {
    background-color: rgb(110, 244, 110);
    border: rgb(110, 244, 110);
}

input[type="checkbox"]:before {
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 100px;
    position: absolute;
    background-color: black;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
    left: 0;
    top: 0;
    transform: scale(0.7);
    transition: .4s;
}

input:checked[type="checkbox"]:before {
    left: 20px;
}

#remember-me {
    font-size: 12px;
}

#toggle {
    display: flex;
    align-items: center;
}

#tog {
    border: solid rgb(90, 89, 89) 2px;
}

#tog:hover {
    border: solid white 2px;
}

#toggle label {
    margin-left: -270px; 
    margin-right: 170px;
    font-weight: bold;
}

button {
    width: 320px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(59, 192, 88);
    font-weight: bold;
    border: solid 1px rgb(59, 192, 88);
    margin-top: 30px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 35px;
}

#rs {
    color: white;
    cursor: pointer;
}

#rs:hover {
    color: rgb(59, 192, 88);
}

footer {
    background-color: #1b1b1b;
    color: rgb(165, 161, 161);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    height: 80px;
    font-size: 12px;
}

footer a {
    color: rgb(165, 161, 161);
}

a {
    color: white;
}

p {
    color: rgb(165, 161, 161);
}

#nocont {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: -50px;
    margin-top: 80px;
    font-size: 15px;
    margin-left: 90px;
    margin-right: 90px;
}